//for body container
.body-content-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    margin-top: 8rem;
    margin-bottom: 4rem;
}